
.Rproj.user/shared/notebooks/paths
.Rproj.user/shared/notebooks/patch-chunk-names
.Rproj.user/F7EC4EFE/sources/s-4E6E01D4/FBC8551D-contents
.Rproj.user/F7EC4EFE/sources/s-4E6E01D4/lock_file
.Rproj.user/F7EC4EFE/sources/s-4E6E01D4/FBC8551D
.Rproj.user/F7EC4EFE/sources/s-4E6E01D4/DD867A28-contents
.Rproj.user/F7EC4EFE/sources/s-4E6E01D4/DD867A28
.Rproj.user/F7EC4EFE/sources/s-4E6E01D4/63AE199B-contents
.Rproj.user/F7EC4EFE/sources/s-4E6E01D4/63AE199B
.Rproj.user/F7EC4EFE/sources/s-4E6E01D4/5361704F-contents
.Rproj.user/F7EC4EFE/sources/s-4E6E01D4/3B5FBA7F-contents
.Rproj.user/F7EC4EFE/sources/prop/INDEX
.Rproj.user/F7EC4EFE/sources/prop/CBED1AFD
.Rproj.user/F7EC4EFE/sources/prop/594A8986
.Rproj.user/F7EC4EFE/sources/prop/57750CC2
.Rproj.user/F7EC4EFE/sources/prop/4E4839F7
.Rproj.user/F7EC4EFE/sources/prop/1C809E90
.Rproj.user/F7EC4EFE/sources/prop/19FC42D9
.Rproj.user/F7EC4EFE/sources/prop/10984FBD
.Rproj.user/F7EC4EFE/saved_source_markers
.Rproj.user/F7EC4EFE/rmd-outputs
.Rproj.user/F7EC4EFE/pcs/workbench-pane.pper
.Rproj.user/F7EC4EFE/pcs/windowlayoutstate.pper
.Rproj.user/F7EC4EFE/pcs/source-pane.pper
.Rproj.user/F7EC4EFE/pcs/files-pane.pper
.Rhistory
.Rproj.user
